body {
  font-family: Helvetica;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

.chat-room {
  height: 70vh; //CHANGE THIS LATER
  display: flex;
  flex-direction: column;
  &__messages {
    flex-grow: 1;
  }
}

.channel {
  cursor: pointer;
}
